@tailwind base;
@tailwind components;
@tailwind utilities;

/* 防止浏览器自动夜间模式修改元素颜色 */
:root {
  color-scheme: light;
}

/* 隐藏数字输入框的原生箭头按钮 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
